body {
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 300;
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.main {
    width: 500px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.main h1 {
    margin-top: 0;
    font-size: 35px;
}

input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 10px #eee;
    font-size: 24px;
}

.input-wrapper {
    padding-bottom: 15px;
}

.list-item-submit {
    background: #73D175;
    color: white;
    box-shadow: none;
    border-color: #599E5A;
}

li {
    text-align: left;
    font-family: sans-serif;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-left: -10px;

}

li input {
    margin-right: 15px;
}