/* ---------------------------------------------------------------------
Original Author:

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

body {
    background-color: #F2F2F2;
}

#stage {
    background-color: #FFFFFF;
}