<div id="header">
    <div class="background">
        <h1><a href="index.html">DelliStore</a></h1>
        <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
</div>