<div>
    <img src="img/header.png" width="100%"/>
    <br/>
    <button type="button" id="js-addTodoButton" class="addToDo"><img src="img/button_addtodo.png"/></button>
    <button type="button" id="js-removeTasksButton" class="removeTasks"><img src="img/button_removetasks.png"/></button>
    <br/><br/><br/>
    <table id="js-todoContainer" width="100%" border="0">
    </table>
</div>
