<tr data-id="{{this.id}}" class="todoItem {{#if this.completed}}completed{{/if}}">
    {{#if this.completed}}
        <td><input type="checkbox" checked name="" class="checkbox"></td>
    {{else}}
        <td><input type="checkbox" name="" class="checkbox"></td>
    {{/if}}
    <td><input type="text" name="" class="textbox" value="{{this.text}}"></td>
    <td><input type="button" class="viewButton"></td>
    <td><input type="button" class="deleteButton"></td>
</tr>